@charset "UTF-8";

footer { display: none; }

.mainContainer { 
  height:100vh; 
  display: grid; 
  grid-template-rows: auto 4fr 2fr; 
  grid-template-columns: 100%; 
  grid-template-areas:  
    "login" 
    "map" 
    "rating" 
  ; 
} 

@media screen and (min-width: 44.001em) { 
  footer { display: block; }
  .mainContainer { 
    grid-template-rows: 50px 600px auto;
    /*grid-template-columns: 80% 20%; */
    grid-template-columns: auto minmax(350px, 350px);
    grid-template-areas:  
      "login      login" 
      "map        rating" 
      "userRating userRating " 
    ; 
  } 
  
}


header {
	/* padding: 15px; */
	border-bottom: 1px solid #fff;
	background-color: #D8D8D8;
    grid-area: login;
}


article {
	border-bottom: 2px solid #fff;
    background: white;
    grid-area: map;
}


aside {
	border-bottom: 2px solid #fff;
    background:#d3cccc;
    grid-area: rating;
}

footer {
	padding: 15px;
	border-bottom: 2px solid #fff;
    background: #D8D8D8;
    grid-area: userRating;
}

#bewertungsDiv {
	width: 300px; 
	background: #F9EECF; 
	border: 1px dotted black; 
	text-align: left
}

#UpdateDiv {
	width: 300px; 
	background: #F9EECF; 
	border: 1px dotted black; 
	text-align: left
}

#registration {
	/* position: absolute; */
    /* top: 900px; */
    left: 200px;
    width: 400px;
    border-radius: 7px;
     border: 1.5px solid #000000; 
     margin: 30px auto;
    /* background: #ffe6b3; */
    /* z-index: 1000;     */
}

#anmeldung {
	/* position: absolute; */
    /* top: 900px; */
    left: 200px;
    width: 400px;
    margin: 30px auto;
    border-radius: 7px;
     border: 1.5px solid #000000; 
    /* background: #ffe6b3; */
    /* z-index: 1000;     */
}





.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding-right: 30px ;
  }
  
  .header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
  }
  
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
  }
  
  .header a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .header a.active {
	background-color: dodgerblue;
	color: white;
  }
  
  .header-right {
	float: right;
  }
  



  
.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.animal {
  max-width: 650px;
  /* padding: 20px; */
  margin: 15px auto;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 150px;
  position:relative; 
}

.animal h4 {
  margin: 0 0 6px 0;
}

.pet-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-left: 0px;
  padding-left: 0 px;
  width: 150px; 
  height: 150px


}

.pet-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}




 /* button hinzufügen */
.hinzufuegen{
  
  border-bottom-right-radius: 8px;
  width: 40px; 
  height: 40px; 
  background-color:  rgb(182, 182, 182); 
  color: white;   
  border: 1.5px solid rgb(182, 182, 182);   
  text-decoration: none;
  margin-left: 10px ; 
  font-size: 20px;
}

.hinzufuegen:hover,.hinzufuegen:active {
  background-color: dodgerblue;
  border-color:  dodgerblue;
  }



#price{

  position:absolute;
 bottom:0;
 left :0;
 margin-left:  160px;
 margin-bottom: 10px;
}
#sup{

  border-radius:50px;
  font-size:15px;
  color: dodgerblue;
  line-height:10px;
  text-align:center;
  font-weight: bold;
  background: white
}


/* ShowWarenkorb */

.showWarenkorb {
  max-width: 650px;
  margin : 15px; 
  max-height: 150px;
  /* margin: 15px auto; */
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position:relative; 
  height: 100px;
  width: 90%;
}

.showWarenkorb h4 {
  margin: 0 0 0 0;
  
}

.photo {
  float: left;
  width: 40%;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0 px;
  width: 140px; 
  height: 150px
}

.anzahl{

  position:absolute;
 bottom:0;
 left: 0;
 /* padding-right: 50px; */
}

.plus{

  width: 40px; 
  height: 40px; 
 
  /* margin-right: 10px;  */
  background-color:  rgb(182, 182, 182); 
  color: white;   
  border: 1.5px solid rgb(182, 182, 182);   
  text-decoration: none;
  margin-right: 10px;
}

.minus{

  width: 40px; 
  height: 40px; 
 
  /* margin-right: 10px;  */
  background-color:  rgb(182, 182, 182); 
  color: white;   
  border: 1.5px solid rgb(182, 182, 182);   
  text-decoration: none;
  
}
#preis{
  font-size: 18px;
  font-weight: bold;
 

}

#preis2{
  font-size: 20px;
  font-weight: bold;
  color: dodgerblue;
  margin-right: 10px;


}
.name {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 1rem 0;
  padding: 10px 10px 0 5px;
}

.description {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 10px 10px 0 10px;
  max-height: 40px;
  overflow: hidden;
}
#description2{

  max-height: 50px;
  overflow: auto;

}
 /* button hinzufügen */
.löschen{
 width: 40px; 
 height: 40px; 

 /* margin-right: 10px;  */
 background-color:  rgb(182, 182, 182); 
 color: white;   
 border: 1.5px solid rgb(182, 182, 182);   
 text-decoration: none; 
 /* border-radius: 4px; */

 font-size: 20px;
}

.löschen:hover,.löschen:active {
  background-color: dodgerblue;
  border-color:  dodgerblue;
  }

#preis3,#info_zurück{
  float:right;
  position:absolute;
  bottom:0;
  right: 0;
}



.mehrinfos{

  max-width: 650px;
  /* padding: 20px; */
  margin: 15px auto;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 350px;
  position:relative;
}

#td_img{

  width :200px;
  height :200px; 
  padding:0 0 20px 0;
}

.photo{

  width :100%;
  height :100%;
  border-top-left-radius: 8px;
}

#summe_preis{

  text-align: right;
  font-size: 25px;
  width: 100%;
  padding-right: 15px;
}

#payment_button{

 
  background-color:  dodgerblue;
  color: white;   
  border: 1.5px solid dodgerblue; 
  /* text-decoration: none; */
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}